<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TravelMaster</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterUserServlet</display-name>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUserServlet</display-name>
    <servlet-name>LoginUserServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.LoginUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserServlet</servlet-name>
    <url-pattern>/LoginUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUserServlet</display-name>
    <servlet-name>LogoutUserServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.LogoutUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUserServlet</servlet-name>
    <url-pattern>/LogoutUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHotAttractionsServlet</display-name>
    <servlet-name>ShowHotAttractionsServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.ShowHotAttractionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHotAttractionsServlet</servlet-name>
    <url-pattern>/ShowHotAttractionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyInfoServlet</display-name>
    <servlet-name>ModifyInfoServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.ModifyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyInfoServlet</servlet-name>
    <url-pattern>/ModifyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePwdServlet</display-name>
    <servlet-name>ChangePwdServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.ChangePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwdServlet</servlet-name>
    <url-pattern>/ChangePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCollectionServlet</display-name>
    <servlet-name>AddCollectionServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.AddCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCollectionServlet</servlet-name>
    <url-pattern>/AddCollectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttractionListServlet</display-name>
    <servlet-name>AttractionListServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.AttractionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttractionListServlet</servlet-name>
    <url-pattern>/AttractionListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttractionServlet</display-name>
    <servlet-name>AttractionServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.AttractionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttractionServlet</servlet-name>
    <url-pattern>/AttractionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAttractionServlet</display-name>
    <servlet-name>FindAttractionServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.FindAttractionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAttractionServlet</servlet-name>
    <url-pattern>/FindAttractionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAttractionServlet</display-name>
    <servlet-name>ShowAttractionServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.ShowAttractionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAttractionServlet</servlet-name>
    <url-pattern>/ShowAttractionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTravellistsServlet</display-name>
    <servlet-name>AddTravellistsServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.AddTravellistsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTravellistsServlet</servlet-name>
    <url-pattern>/AddTravellistsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCollectionServlet</display-name>
    <servlet-name>RemoveCollectionServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.RemoveCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCollectionServlet</servlet-name>
    <url-pattern>/RemoveCollectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCollectionsServlet</display-name>
    <servlet-name>ShowCollectionsServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.ShowCollectionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCollectionsServlet</servlet-name>
    <url-pattern>/ShowCollectionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendReplyServlet</display-name>
    <servlet-name>SendReplyServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.SendReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendReplyServlet</servlet-name>
    <url-pattern>/SendReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendRemarkServlet</display-name>
    <servlet-name>SendRemarkServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.SendRemarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRemarkServlet</servlet-name>
    <url-pattern>/SendRemarkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowReplyServlet</display-name>
    <servlet-name>ShowReplyServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.ShowReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowReplyServlet</servlet-name>
    <url-pattern>/ShowReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPostsServlet</display-name>
    <servlet-name>ShowPostsServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.ShowPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPostsServlet</servlet-name>
    <url-pattern>/ShowPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReplyServlet</display-name>
    <servlet-name>AddReplyServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.AddReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReplyServlet</servlet-name>
    <url-pattern>/AddReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRelationServlet</display-name>
    <servlet-name>AddRelationServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.AddRelationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRelationServlet</servlet-name>
    <url-pattern>/AddRelationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPostServlet</display-name>
    <servlet-name>AddPostServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.AddPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostServlet</servlet-name>
    <url-pattern>/AddPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTravellistsServlet</display-name>
    <servlet-name>ShowTravellistsServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.ShowTravellistsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTravellistsServlet</servlet-name>
    <url-pattern>/ShowTravellistsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindTravellistsByTidServlet</display-name>
    <servlet-name>FindTravellistsByTidServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.FindTravellistsByTidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindTravellistsByTidServlet</servlet-name>
    <url-pattern>/FindTravellistsByTidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeTravellistsServlet</display-name>
    <servlet-name>ChangeTravellistsServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.ChangeTravellistsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeTravellistsServlet</servlet-name>
    <url-pattern>/ChangeTravellistsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveTravellistsServlet</display-name>
    <servlet-name>RemoveTravellistsServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.RemoveTravellistsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveTravellistsServlet</servlet-name>
    <url-pattern>/RemoveTravellistsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRelationsServlet</display-name>
    <servlet-name>ShowRelationsServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.ShowRelationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRelationsServlet</servlet-name>
    <url-pattern>/ShowRelationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveRelationServlet</display-name>
    <servlet-name>RemoveRelationServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.RemoveRelationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveRelationServlet</servlet-name>
    <url-pattern>/RemoveRelationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMyPostsServlet</display-name>
    <servlet-name>ShowMyPostsServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.ShowMyPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMyPostsServlet</servlet-name>
    <url-pattern>/ShowMyPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidLoginServlet</display-name>
    <servlet-name>AndroidLoginServlet</servlet-name>
    <servlet-class>com.chinasofti.travelmaster.servlet.AndroidLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidLoginServlet</servlet-name>
    <url-pattern>/AndroidLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>